.home, .page-template-page-wholesale-php, , .page-template-page-onepage-php {

        background-color: $slate;

        #sidebar-bg, .mask {
            background-color: $miltonsgreen;
            opacity: 0.8;
        }
        .mask {
            visibility: hidden;
        }

        g#miltonsLogo g path {
            fill: #fff !important;
        }

        @media #{$small-only}{

            section.waypoint {
                &:nth-child(3n+1) .sidebar {
                    background-color: $slate;
                }
                &:nth-child(3n+2) .sidebar {
                    background-color: $miltonsgreen;
                }
                &:nth-child(3n+3) .sidebar {
                    background-color: $meat;
                }
                &:nth-child(3n+4) .sidebar {
                    background-color: $dusty;
                }
            }

        }

        #sidebar-bg {
            &.color1 {
                background-color: $slate;
            }
            &.color2 {
                background-color: $miltonsgreen;
            }
            &.color3 {
                background-color: $meat;
            }
            &.color4 {
                background-color: $dusty;
            }
        }
}