i.fa.fa-angle-down.scrolldown {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    color: $white;
    font-size: 3rem;
}

section.container {
    padding: 50px 0px;
    @media #{$small-only} {
        padding: 25px 0px;
    }
}

section.masthead {
    top: 0;
    position: relative;
    @media #{$medium-up} {
        position: fixed;
        z-index: -1;
    }
}

div.placeholder {
    min-height: 100vh;
    height: 100%;
    width: 0px;
    display: block;
    background-color: transparent;
    // position: fixed;
    top: 0px;
    @media #{$small-only} {
        display: none;
    }
}

section.active {
    position: fixed;
    top: 0;
    z-index: 0;
    & + div.placeholder {
        position: relative;
    }
}

.home,
.page-template-page-wholesale-php,
.page-template-page-onepage-php {
    section.container {
        padding: 0px;
    }
    section.waypoint,
    section.masthead {
        height: 100vh;
        width: 100%;
        z-index: -1;
        @media #{$small-only} {
            min-height: inherit;
        }
    }
    .sidebar {
        min-height: 100%;
        min-height: 100vh;
        padding: 100px 20px;
        width: 40%;
        z-index: 9;
        float: right;
        clear: both;
        color: white;
        background-color: transparent;
        @media #{$small-only} {
            position: relative;
            width: 100%;
            padding: 50px 0px;
            max-height: initial;
        }
    }
    .left-image {
        width: 60%;
        // height: 0;
        height: 100%;
        position: fixed;
        top: 0px;
        box-shadow: inset -5px 0px 15px 0px rgba(0, 0, 0, 0.2);
        @media #{$small-only} {
            height: 50vh;
            position: relative;
            width: 100%;
        }
    }
    #sidebar-bg {
        background-color: $slate;
        width: 40%;
        right: 0;
        top: 0;
        height: 100%;
        height: 100vh;
        position: fixed;
        z-index: 0;
    }
}

@media #{$small-only} {
    .home section#wypt-1 .left-image {
        display: none;
    }
}

.page-template-page-wholesale-php {
    // .sidebar { width: 50%; }
    // .left-image { width: 50%; }
}

// Resuable
.row.contain {
    width: 100%;
    margin: auto;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    .column {
        padding-top: 16px;
        padding-bottom: 16px;
        border-right: 1px solid #000;
        &:last-child {
            border-right: 0px solid #000;
        }
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
    }
}

.border-t {
    border-top: 1px solid #000;
}

// Category
ul.products li {
    hr {
        border-bottom: 1px solid #000;
        border-top: 0px;
        height: 1px;
        margin: 0;
    }
    h6 {
        font-size: 1rem;
        text-transform: uppercase;
    }
    &:after {
        height: 1px;
        width: 100%;
        content: '';
        display: block;
        background-color: black;
        margin: 0.625rem 0px 0px 0px;
    }
}

.thumbnails.columns-3 a img {
    width: 33%;
    height: auto;
}

// SPP
.single-product {
    section.container {
        padding: 0px 0px;
    }
    footer.row {
        margin-top: 0px;
    }
}

.gallery {
    @media #{$medium-up} {
        padding-right: 0px;
    }
}

p.in-stock {
    display: none;
}

.entry-summary {
    margin-top: 50px;
    margin-bottom: 50px;
    @media #{$large-up} {
        padding-left: 0px;
    }
    @media #{$small-only} {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .row.contain {
        border-left: 0px solid #000;
        border-right: 0px solid #000;
    }
    h1.product_title {
        margin: 0px;
        text-transform: uppercase;
        font-weight: 800;
        color: $warmblack;
        border-bottom: 4px solid $warmblack;
    }
    .row.excerpt {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .border-b {
        border-bottom: 1px solid #000;
        padding-bottom: 0.625rem;
    }
    button.single_add_to_cart_button.button.alt {
        transition: color 200ms ease, border 200ms ease;
        width: 100%;
        text-transform: uppercase;
        background-color: transparent;
        color: $warmblack;
        border-top: 4px solid $warmblack;
        border-bottom: 4px solid $warmblack;
        font-weight: 800;
        &:hover {
            border-top: 4px solid $black;
            border-bottom: 4px solid $black;
            color: $black;
        }
    }
}

// Cart
.woocommerce-cart {
    img.attachment-shop_thumbnail.wp-post-image {
        height: 150px;
        width: auto;
    }
    td.product-remove a.remove {
        font-size: 2rem;
    }
}

// Single Blog post
.single-post {
    // reset styles
    .topbar-bg {
        display: none;
    }
    section.container {
        padding: 0px 0px;
    }
    // New Header with Post BG
    .post-header {
        height: 400px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        &:before {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $black;
            opacity: 0.4;
        }
        .entry-meta {
            position: absolute;
            width: 100%;
            bottom: 0;
            @include grid-column(12);
            left: 0;
            right: 0;
            color: white;
            @media #{$medium-up} {
                @include grid-row();
            }
            @media #{$xlarge-up} {
                margin: 0 auto;
            }
            h1 {
                color: white;
            }
        }
    }
    // Body Styles
    .entry-content {
        padding: 60px 0px;
        @include grid-row();
        @media #{$small-only} {
            padding: 25px 0px;
        }
        p {
            font-size: 1.25rem;
            line-height: 2.25rem;
        }
    }
    // Sidebar
    .recipe-sidebar {
        @media #{$small-only}{
            margin-bottom: 2rem;
        }
    }
    .sidebar-container {
        .rel-wrapper {
            padding: 20px;
            // background-color: $gold;
            border-left: 1px solid black;
            border-right: 1px solid black // * {
            //     color: white;
            // }
        }
        // Sidebar sticky
        &.sticky {
            @media #{$medium-up} {
                position: fixed;
                top: 60px;
            }
        }
    }
}