// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
    footer#site_footer {
        // margin-top: rem-calc(60);
    }
}

footer#site_footer {
    width: 100%;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    border-top: 1px solid $black;
    height: 100%;
    background-color: #fff;

    a {
        display: block;
    }

    .sitemap {
        padding: 3rem 0;

        .sitemap-links {
            .sitemap-header {
                font-size: 20px;
                color: lighten($black, 50%);
            }

            a {
                color: lighten($black, 50%);
                line-height: 1.5rem;
                font-size: 12px;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .left {
        ul.pages,
        ul.social {
            a {
                color: $black;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        li.copy a {
            color: $black;
            pointer-events: none;
        }
    }

    .right {
        img {
            height: 55px;
            padding: 10px;
            width: auto;
            color: black;
        }
    }
}
// mobile footer
@media #{$small-only} {
    footer#site_footer {
        background-color: $white;
        // border-top: 1px solid $white;
        padding: 20px 0;
        height: initial;
        .sitemap {
            padding: 1rem 0;
            
            > .column {
              margin-bottom: 2rem;
            }
        }
    }
}
