.topbar-bg {
  img {
    width: 100%;
    height: auto;
    visibility: hidden;
  }
}

.masthead-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}


.left-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.left-image img, .masthead-image img {
  visibility: hidden;
}