.woocommerce span.onsale {
  padding: 0px;
}

// Category Page

.woocommerce-result-count {display:none;}

ul.products {
  @include block-grid(3);

  @media #{$xlarge-up}{
      @include block-grid(4);
  }

  @media #{$small-only}{
      @include block-grid(1);
  }
}

// SPP Page

.gallery {
  padding: 20px 0px;
}

// Cart

.shop_table.cart { 
  @include grid-column(12);
}

tr.cart_item td.product-thumbnail {
    display: none;
}

.product-subtotal {
    border-right: 1px solid black;
}

table.shop_table.cart th.product-thumbnail {
    display: none;
}

@media #{$small-only}{
    input[type="submit"] {
      width: 100%;
    }
}

li.payment_method_simplify_commerce {
    list-style: none;
}

ul.payment_methods.methods {
    margin-left: 0px;
}
